{% extends "base.html" %}
{% load static %}
{% block title %}
DRY NUTS | Start a Business
{% endblock %}
{% block content %}
  <!-- Service Start -->
  <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-bold text-primary">Our Services</p>
            <h1 class="display-5 mb-5">DISTRIBUTION</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded d-flex h-100">
                    
                    <div class="service-text rounded p-5">
                        <div class="btn-square rounded-circle mx-auto mb-3">
                            <img class="img-fluid" src="{% static 'img/icon/icon-3.png' %}" alt="Icon">
                        </div>
                        <h4 class="mb-3">BUSINESS</h4>
                        <p class="mb-4">DRY NUTS Business Opportunity is flexible; it can be taken as a part time or full time business. DRY NUTS Opportunity works in two-fold. Giving you a chance to build your own business at your pace and achieve the rewards and recognition linked to the plan and at the same time, helping other people do the same.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded d-flex h-100">
                   
                    <div class="service-text rounded p-5">
                        <div class="btn-square rounded-circle mx-auto mb-3">
                            <img class="img-fluid" src="{% static 'img/icon/icon-6.png' %}" alt="Icon">
                            
                        </div>
                        <h4 class="mb-3">STEP-1</h4>
                        <p class="mb-4">The joining process is designed to keep the entire procedure easy, quick and non-complex. You need to be introduced to the company by an already existing DRY NUTS Direct seller . You can generate a reference number through his ID or you can share few basic details with us.

For example, Reference No.: - 12345</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded d-flex h-100">
                    
                    <div class="service-text rounded p-5">
                        <div class="btn-square rounded-circle mx-auto mb-3">
                            <img class="img-fluid" src="{% static 'img/icon/icon-5.png' %}" alt="Icon">
                        </div>
                        <h4 class="mb-3">STEP-2</h4>
                        <p class="mb-4">Once you generate your reference number, you can generate your ID number (Direct Seller number) from your nearest franchisee after our entire franchisee verification process.

For example, ID No.: - DRY NUTS123AA</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded d-flex h-100">
                    
                    <div class="service-text rounded p-5">
                        <div class="btn-square rounded-circle mx-auto mb-3">
                            <img class="img-fluid" src="{% static 'img/icon/icon-4.png' %}" alt="Icon">
                        </div>
                        <h4 class="mb-3">STEP-3 </h4>
                        <p class="mb-4">After receiving your ID number, you become eligible to buy products from any of our existing franchisee at (DP) Distributor price and sell further on MRP.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded d-flex h-100">
                    
                    <div class="service-text rounded p-5">
                        <div class="btn-square rounded-circle mx-auto mb-3">
                            <img class="img-fluid" src="{% static 'img/icon/icon-8.png' %}" alt="Icon">
                        </div>
                        <h4 class="mb-3">STEP-4</h4>
                        <p class="mb-4">In case you wish to grow further and avail special offers, bonuses and offers on our products along with rewards and recognition, you would require to purchase products of 300 BV initially.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded d-flex h-100">
                    
                    <div class="service-text rounded p-5">
                        <div class="btn-square rounded-circle mx-auto mb-3">
                            <img class="img-fluid" src="{% static 'img/icon/icon-2.png' %}" alt="Icon">
                        </div>
                        <h4 class="mb-3">STEP-5</h4>
                        <p class="mb-4">DRY NUTS business plan allows you to join this as a part time or full time ensuring that you can spend quality time with your friends and family. It also gives you that opportunity to earn a good income.</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

{% endblock  %}