{% extends "base.html" %}
{% load static %}
{% block title %}DRY NUTS | Cancel Policy{% endblock  %}

{% block content %}

<div class="text-center display-4 mt-5">
    <h2 class="text-gradient-warning">ORDER CANCELLATION/REFUND POLICY</h2>
</div>
<div class="wrapper" style="margin: 50px;">
    
    <div class="content-box container" style="border: 1px solid gray; border-width: thin; padding: 20px; border-radius: 20px;">
      <div class="card12">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Product Return Policy</h2>
        <p>In the event of dissatisfaction or the discovery of manufacturing or packaging defects, customers or direct sellers have the option to return or exchange the product. To initiate this process, they are required to contact the direct seller or the company from which the product was purchased within 30 days from the date of purchase. Providing a reason for the return, customers or direct sellers must send back the products along with the original customer order receipt or invoice.
            It becomes the direct seller's responsibility to address the customer's concerns by either refunding the money or providing replacements for the returned products. Subsequently, the direct seller can return the products, accompanied by the original invoice, to the company. The company, in turn, will replace these products without any additional cost. Alternatively, if the direct seller prefers, the company can issue a cash voucher (with zero BV) equivalent to the purchase amount. This voucher can be utilized by the direct seller within 30 days to acquire products of their choice.</p>
      </div>
      <div class="card12">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Documents Required</h2>
        <p>•	Product return form with reason for return
            •	Copy of Invoice of the same returning products
            •	Products to be returned
            </p>
      </div>
      <div class="card12">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Buy Back Policy</h2>
        <p>The Company extends a Buy Back Policy for direct sellers who decide to resign from their distributorship and wish to return DRY NUTS products in pristine condition. These products should be in a state suitable for reuse, resale, restocking, and must remain unopened, unaltered, with a shelf life of at least four months.
            For direct sellers who resign within the initial 30 days from the product purchase, DRY NUTS will offer a full refund for the returned products. This refund will be issued after deducting any bonuses paid and reversing the Business Volume (BV) associated with the products.
            In cases where the direct seller resigns after the 30-day period from the product purchase date, the refunded amount for the returned products will be calculated as the direct seller cost, minus the total bonuses paid by the Company on the original purchase, minus GST, and further reduced by a 10% service charge.
            This Buy Back Policy is strategically designed to place an obligation on both the sponsor and the Company. It ensures that direct sellers make informed and prudent decisions when purchasing products.</p>
      </div>
      <div class="card12">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Cancellation</h2>
        <p>For Cancellation of confirmed/placed order please Contact Us on our helpline no : +91 95 50 60 70 21
            or write to us at info@drynuts.in
            </p>
      </div>
      
    </div>
  </div>
  

{% endblock %}