{% extends "base.html" %}
{% load static %}
{% block title %}DRY NUTS | GST Registrationdetails{% endblock  %}
{% block content %}

<div class="text-center display-4 mt-5">
    <h2 class="text-gradient-warning">Compliance Documents</h2>
</div>

<div class="wrapper" style="margin: 50px; text-align: center;">
    
    <img src="{% static 'img/fssaip.png' %}" alt="" style="width: 50%; height: 100%;"/>
    <img src="{% static 'img/fssaip1.png' %}" alt="" style="width: 50%; height: 100%;"/>
    <img src="{% static 'img/fssaip2.png' %}" alt="" style="width: 50%; height: 100%;"/>
    <img src="{% static 'img/fssaip3.png' %}" alt="" style="width: 50%; height: 100%;"/>
    <img src="{% static 'img/fssaip4.png' %}" alt="" style="width: 50%; height: 100%;"/>
    <img src="{% static 'img/fssaip5.png' %}" alt="" style="width: 50%; height: 100%;"/>
    <img src="{% static 'img/fssaip6.png' %}" alt="" style="width: 50%; height: 100%;"/>
    <img src="{% static 'img/cl.png' %}" alt="" style="width: 50%; height: 100%;"/>
    <img src="{% static 'img/oc.png' %}" alt="" style="width: 50%; height: 100%;"/>

    <img src="{% static 'img/import.png' %}" alt="" style="width: 50%; height: 100%;"/>
    <img src="{% static 'img/mca.png' %}" alt="" style="width: 50%; height: 100%;"/>
    <img src="{% static 'img/pan.png' %}" alt="" style="width: 50%; height: 100%;"/>
    <img src="{% static 'img/tan.png' %}" alt="" style="width: 50%; height: 100%;"/>
    


</div>


{% endblock %}