{% extends "base.html" %}
{% block title %}
DRY NUTS | FAQ's
{% endblock  %}
{% block content %}
<section>
    <h1 class="title">FAQ's</h1>

    <div class="questions-container">
        <div class="question">
            <button>
                <span>How can one become an DRY NUTS Entrepreneur? </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>To become an DRY NUTS Entrepreneur, an individual needs to be sponsored by an active DRY NUTS Partner. The sponsoring DRY NUTS Partner assumes the role of guiding the new DRY NUTS Entrepreneur through the journey, acquainting them with the nuances of the DRY NUTS enterprise.</p>
        </div>

        <div class="question">
            <button>
                <span>What is the initial investment for joining DRY NUTS? </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>Starting an DRY NUTS venture comes at zero cost. It is a risk-free entry into the world of entrepreneurship. In comparison to other business startups, DRY NUTS presents a unique advantage with its free-of-cost startup model. Moreover, DRY NUTS's products come with a refund policy, ensuring added peace of mind for our Entrepreneurs. </p>
        </div>

        <div class="question">
            <button>
                <span>Are DRY NUTS Entrepreneurs considered company employees? </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>No, DRY NUTS Entrepreneurs are not employees of the company; they operate as independent contractors / Distributors.</p>
        </div>

        {% comment %} <div class="question">
            <button>
                <span>How extensive is OLSI's product range? </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p></p>
        </div> {% endcomment %}

        <div class="question">
            <button>
                <span>How can I make a purchase of OLSI products?  </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>OLSI products are exclusively available through OLSI Direct Selling Partners. To explore the process further, kindly refer to the How to Buy section on our website.</p>
        </div>
        <div class="question">
            <button>
                <span>Does OLSI exert control over an OLSI Entrepreneur's business activities? </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>Upon joining OLSI, individuals commit to a contract that encompasses OLSI's Code of Ethics and Rules of Conduct. These guidelines champion ethical direct selling practices and outline operational procedures for all OLSI Entrepreneurs. The Rules of Conduct stipulate specific business practices to ensure legal compliance and maintain harmony within the OLSI network. OLSI retains the authority to enforce these Rules through contractual agreements with its Entrepreneurs, which could involve measures up to contract termination.</p>
        </div>
        <div class="question">
            <button>
                <span>Does OLSI grant individuals more free time, or does it require significant time for success?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>Similar to any entrepreneurial pursuit, achieving success within the OLSI venture requires dedication and time, especially during the initial phases. Research indicates that most individuals grasp this reality. However, the OLSI business model does offer flexibility to its distributors in managing their business.
                Distinguished from conventional employment, OLSI Entrepreneurs have the liberty to work from home, set their own pace, and follow their personalized schedules in line with their aspirations. This self-directed approach permits individuals to tend to personal commitments like attending a child's school event or pursuing leisure activities without constraints. The choice of when, where, and the extent of time dedicated to their OLSI business rests solely with them. This adaptability stands as a key factor contributing to the global appeal of the OLSI opportunity.
            </p>
        </div>
        <div class="question">
            <button>
                <span>Is OLSI's product pricing competitive?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>OLSI's product pricing reflects our unwavering commitment to quality. Our products adhere to the highest standards, incorporating premium ingredients, meticulous design, and rigorous testing. This dedication ensures that our offerings are pure, safe, effective, and durable. It is worth noting that these elevated standards can occasionally result in a higher price point compared to competing products.
                Every OLSI product is backed by a comprehensive money-back guarantee, ensuring 100% satisfaction. OLSI Direct Selling Partners and customers alike have the freedom to return products within 30 days of purchase.
                OLSI takes pride in developing products with natural ingredients. Employing sustainable, chemical-free methods, our team of agricultural experts and scientists collaborate to harness the potent benefits of nature's most robust plants. This synergy contributes to your well-being and enhances your home environment.
            </p>
        </div>
        <div class="question">
            <button>
                <span>Is it accurate that one can simply buy products for personal use and recruit others to do the same, without selling?  </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>The OLSI business model is predicated on the sale of OLSI products. The assertion otherwise is an inaccurate representation of the OLSI Sales and Marketing Plan, which contravenes our established guidelines. The foundation of our business centers on product sales, and any suggestion otherwise is a breach of our principles.</p>
        </div>
        <div class="question">
            <button>
                <span>How do OLSI products perform in comparative tests?   </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p> OLSI products consistently earn high praise from customers around the world. Our products' exceptional performance is a testament to our dedicated focus on research and development. With dedicated Research & Development and manufacturing facilities, we make substantial yearly investments in this domain. This commitment underscores our pursuit of product excellence.
                Ultimately, the consumers judge product quality. Their decisions are influenced by the interplay of quality and value. OLSI's enduring global success and consumer research reaffirm that our products meet and exceed these criteria. Customers perceive our products as superior, reflecting our unwavering dedication to excellence.
            </p>
        </div>
        <div class="question">
            <button>
                <span> How does OLSI view the role of women in the OLSI business? </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p> The OLSI business opportunity is inclusive, welcoming individuals from all walks of life, irrespective of gender, race, age, religion, or personal beliefs. OLSI appeals to women, men, couples, and families representing diverse backgrounds. OLSI takes pride in its contribution to empowering women worldwide through an accessible, low-cost, low-risk avenue to realize their aspirations through business ownership. This achievement holds profound significance for us. Numerous instances underscore the success of women within the OLSI business, reflecting the opportunities it offers.</p>
        </div>
        <div class="question">
            <button>
                <span>Is OLSI's business experiencing continuous growth, considering its early stage? </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p> Absolutely. Despite being in the nascent stages of its journey, OLSI is positioned for gradual expansion. Within a relatively brief span, OLSI has already begun to explore new territories and opportunities. As OLSI navigates these early milestones, it remains vigilant in laying the groundwork for sustainable growth. Ongoing efforts are directed towards identifying innovative avenues, fostering product excellence, and nurturing a vibrant community of OLSI Direct Selling Partners and discerning consumers.
                While the journey has just begun, OLSI is actively shaping its trajectory for the future, drawing inspiration from the enthusiasm of its inception. The potential for growth in the upcoming phases remains promising.
            </p>
        </div>
        <div class="question">
            <button>
                <span> Why are OLSI products not widely known?  </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p> OLSI products are exclusively distributed through OLSI Direct Selling Partners, which means they aren't available on conventional 
                store shelves or from other online retailers. In the event you encounter OLSI products on e-commerce platforms, exercise caution, as they could potentially be counterfeit. Authentic OLSI products are solely accessible through OLSI Direct Selling Partners.Furthermore, OLSI does not heavily advertise its products. Instead, our focus is directed towards research and development, bolstering our supply chain, and offering unwavering support to OLSI Direct Selling Partners. 
                This approach contrasts with conventional or online advertising efforts. If you come across OLSI brands and products, it's often through word-of-mouth from satisfied users or via OLSI Direct Selling Partners.
            </p>
        </div>
        <div class="question">
            <button>
                <span>Is there a financial obligation for training and events with OLSI?   </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>No, there is no obligatory expenditure for training resources and events. OLSI is committed to providing numerous optional, cost-free training opportunities to OLSI Entrepreneurs. These include a plethora of options such as live presentations, online training sessions, and self-paced learning modules accessible through our dedicated Learning Management Systems.
                OLSI Entrepreneurs often receive personalized coaching through one-on-one interactions with those who introduced them to the business or individuals within their team. OLSI also makes substantial investments in training and tools for the success of its Entrepreneurs. In India, OLSI conducts numerous complimentary training sessions monthly, equipping individuals with the knowledge and tools needed to achieve their aspirations. Your growth journey with OLSI is supported by comprehensive resources and training without any mandatory costs.
            </p>
        </div>
        <div class="question">
            <button>
                <span> Why is purchasing OLSI products through a distributor necessary?  </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>We've opted not to retail our products in conventional stores due to the distinctive nature of the OLSI direct selling business model. This model thrives on personalized interactions, individualized customer service, and insightful product recommendations from OLSI Entrepreneurs who possess an intimate understanding of the products and their advantages. To facilitate both our OLSI Direct Selling Partners and their customers, we've established OLSI stores at specific locations across India. Furthermore, customers can explore our product range at www.olsi.in.
                This approach exemplifies the distinctiveness of direct selling when contrasted with traditional retail, whether in-person or online. Direct selling hinges on face-to-face interactions, and we believe that our OLSI Entrepreneurs excel in providing exceptional customer care. Their commitment stems from valuing their customers, ensuring satisfaction, and nurturing a loyal customer base.
            </p>
        </div>
        <div class="question">
            <button>
                <span> Why don't OLSI products sell in stores?  </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>We've opted not to distribute our products through conventional retail outlets due to the unique foundation of the OLSI direct selling business model. This model thrives on direct person-to-person sales, personalized customer service, and well-considered product recommendations from OLSI Entrepreneurs who possess an in-depth understanding of the products and their benefits. To further support OLSI Direct Selling Partners and their customers, we've established OLSI stores at specific locations across India. Additionally, customers have the convenience of exploring our product range at www.olsi.in.
                This approach distinctively sets direct selling apart from traditional in-store and online retail. It's a model anchored in face-to-face interactions, and we trust that our OLSI Distributors excel in providing exceptional customer care. Their dedication emanates from their deep appreciation for customers, leading to satisfaction and the cultivation of a loyal customer base.
            </p>
        </div>
        <div class="question">
            <button>
                <span>Do I need to maintain inventory to sell OLSI products?   </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p> Not necessarily. OLSI Entrepreneurs are not obligated to stock inventory of OLSI products, and there are no mandatory purchase requirements within OLSI's framework. OLSI Direct Selling Partners can opt to have products directly shipped to them or their customers upon purchase. Some OLSI Direct Selling Partners opt to maintain a small inventory for in-person demonstrations or prompt provision to customers following purchase, bypassing the need for shipping. While OLSI does not impose inventory mandates, there can be practical advantages to holding a limited inventory scenarios. Ultimately, the decision rests entirely with the OLSI Direct Selling Partner, tailored to best fulfill customer demands.</p>
        </div>
        <div class="question">
            <button>
                <span>How can you generate income with OLSI?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p> OLSI Direct Selling Partners accrue earnings through customer purchases of OLSI products and sales generated by members within their organization. Key avenues for income generation include:
                Retail Margin: This pertains to the difference between the selling price and the product purchase price from OLSI (DAP). OLSI Direct Selling Partners are free to set the selling price (within MRP limits) when they sell products to customers above the DAP. The disparity between these prices constitutes the retail margin.
                Sales Commissions: Commissions, incentives, and awards tied to sales performance play a pivotal role in income generation. The monthly compensation earned by OLSI Direct Selling Partners is inherently variable and is contingent upon their objectives, time allocation, and consistent engagement in retailing OLSI products.
                Income potential varies significantly based on individual goals and the dedication invested in the business. OLSI is staunchly committed to rewarding achievements. To access comprehensive details regarding OLSI compensation structure in India, kindly refer to the OLSI India website.
            </p>
        </div>
        <div class="question">
            <button>
                <span>How can I discontinue my involvement with the OLSI business?   </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>Similar to any entrepreneurial endeavour, OLSI Direct Selling Partners have the liberty to exit the business whenever they deem fit, for any reason. Should an OLSI Direct Selling Partner choose to discontinue their engagement, the following steps are to be followed
                1.Submit a resignation letter outlining the reasons for departing from the business
                2.Present a valid photo identity card containing the individual's signature.              
                Exiting the OLSI business is a straightforward process that respects individual choices and circumstances.
            </p>
                
        </div>
        <div class="question">
            <button>
                <span>Can OLSI products be sold on online platforms like Amazon and eBay?   </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>No, the exclusive authority to sell OLSI products lies with OLSI Direct Selling Partners. Their role encompasses offering personalized service and leveraging their enriched product knowledge acquired through comprehensive training, education, and experience. OLSI remains committed to safeguarding consumers and, as a measure, has pursued legal actions against unauthorized sellers in the past and intends to continue doing so.
                Products sold via unapproved channels, including online platforms and stores, pose potential risks for consumers, as these products might be outdated, compromised, tampered with, or even counterfeit. Such items are not covered by our robust 100% satisfaction guarantee. Additionally, OLSI is unwavering in its dedication to maintaining the exclusivity of OLSI Direct Selling Partners. Our contractual agreement explicitly forbids unauthorized online selling.
                For further insights, please refer to our News section at https://www.olsi.in.
            </p>
        </div>
        <div class="question">
            <button>
                <span>Legal Commitment Between OLSI and Entrepreneurs  </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>Enforceable Contractual Agreement: A binding contractual agreement exists between OLSI and its Direct Selling Partners. This agreement comprehensively outlines the obligations and commitments of both parties. This contractual arrangement is underscored by adherence to the OLSI Rules of Conduct and the code of ethics, which are integral components of the binding agreement between OLSI and Direct Selling Partners. These regulations serve as guiding principles, fostering a business environment built on integrity and ethical conduct. </p>
        </div>
        <div class="question">
            <button>
                <span>Shipping & Delivery  </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>The Home Delivery Charges for OLSI products have been updated as follows:
                Rs. 50 for orders with a value below Rs. 1000
                Free home delivery for orders with a value exceeding Rs. 1000
                For further information, kindly visit https://www.olsi.in/shippingAndPickupProcedures
            </p>
        </div>
        <div class="question">
            <button>
                <span>Home Delivery Order Delivery Timeframe  </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>The standard delivery timeframes for Home Delivery Orders are as follows:
                Local: Within 1-3 business days from the order date.
                Up-Country: Within 3-7 business days from the order date (duration may vary based on geographical terrain).
                Outside Delivery Area (Remote Locations): Within 7-10 business days from the order date.
                Please note that deliveries are exclusively conducted on business days.
                For additional insights, please refer to https://www.olsi.in/shippingAndPickupProcedures
            </p>
        </div>
        <div class="question">
            <button>
                <span>OLSI's Product Return and Refund Policy  </span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>Ensuring Your Satisfaction: At OLSI, your satisfaction is paramount to us. We uphold a transparent and customer-centric approach when it comes to product return and refund.
                Return Eligibility: Our refund policy is applicable to products that remain in marketable condition and partially used products (up to 30%), provided they are accompanied by a valid invoice. This policy, however, does not extend to products that have been intentionally damaged or misused.
                Commitment to Integrity: We place trust in our OLSI Direct Selling Partners and Preferred Customers to adhere to the Customer Product Refund Policy in both its essence and execution.
                For comprehensive details regarding our product return and refund policy, kindly refer to https://www.olsi.in/productReturnPolicy. Your satisfaction is our priority, and our policies reflect our commitment to serving you better.
            </p>
        </div>
        
        

    </div>
</section>

{% endblock  %}