{% extends 'base.html' %}
{% load static %}
{% block title %}
  DRY NUTS | Grievance Redressal Mechanism
{% endblock %}
{% block content %}


<style>
    
    .mech {
        width: 80%;
        padding-left: 10%;
        margin-top: 5%;
    }
    .mech p {
         padding-left: 5%;
    }
    .mech p b {
        color: black;
        font-style: italic;
    }

</style>    



<div class="row">
    <div class="column">
      <div class="card1" style="margin-top: 20px;">
        <h1 class="text-center" style="color: darkgreen;"> Grievance Redressal Mechanism:</h1>
      </div>  
      <div class="mech">
        <h5>To address your concerns effectively, you can utilize the following channels:</h5>
        <p>1.	Email: Send an email to info@olsi.in detailing your grievance.</p>
        <p>2.	Phone: Call us at +91 95 50 60 70 21 to discuss and report your issue.</p>

        <h4>Documents and Information Required:</h4>
        <p>Ensure a prompt resolution by providing comprehensive details such as your Direct Seller ID, relevant documents (if applicable), and a clear description of the issue when raising your request.</p>
        <p><b>Tracking Your Grievance:</b>  Upon raising a complaint via email or phone, you will receive a unique complaint number for tracking purposes.</p>

        <h4>Timeline for Grievance Redressal:</h4>
        <p><b>Acknowledgement:</b> Expect to receive acknowledgment of your grievance within 48 hours of submission.</p>
        <p><b>Resolution:</b> Your grievance will be resolved within one month from the date of submission.</p>
        <p><b>Appealing the Decision:</b> If you find the resolution unsatisfactory, you have the option to escalate the matter. To do so, write to our Grievance Redressal Officer, Mr. Rajendra Prasad, at grievance.manager@olsi.in, including the reason for escalation and your complaint number.</p>
        <p>The grievance redressal officer will acknowledge your appeal within 48 working hours and aim to resolve it within one month from receipt.</p>

        <h4>Tracking Your Complaint:</h4>
        <p>You can monitor the status of your complaint at any time by calling our toll-free number,   <br>      +91 95 50 60 70 21, between 11:00 am to 6:00 pm, Monday to Saturday (excluding holidays).</p>

      </div>  
      
    </div>
</div>

{% endblock %}
