{% extends "base.html" %}
{% load static %}
{% block title %}DRY NUTS | Product Shipping{% endblock  %}
{% block content %}

<div class="text-center display-4 mt-5">
    <h2 class="text-gradient-warning">PRODUCTS SHIPPING POLICY</h2>
</div>

<div class="wrapper" style="margin: 50px;">
    
    <div class="content-box container" style="border: 1px solid gray; border-width: thin; padding: 20px; border-radius: 20px;">
      <div class="card12">
        {% comment %} <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Privacy & Security Policy</h2> {% endcomment %}
        <p>Olsi Marketing Pvt. Ltd. is committed to achieving the utmost satisfaction for our Direct Sellers. Our primary objective is to guarantee a seamless and gratifying experience for Direct Sellers after their purchase, focusing on the quality and promptness of delivery. Additionally, we keep our Direct Sellers well-informed about the different stages of their orders, including Order Processing, Dispatch, and Delivery.</p>
      </div>
      <div class="card12">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">How much are the shipping fees for products?</h2>
        <p>•	First order with registration – Free Delivery 1000 BV or more)
            •	All individual and team orders above Rs.5000/- (D.P) – Free Delivery in TG & AP (Except Agri Care
            Products)
            •	Each Agrien Granules bag is charges Rs. 50/- extra irrespective of the free delivery Courier Charges
            (TG & AP)
            •	Selected pin codes may incur an additional courier charge, especially if they fall under ODA locations)
            •	Shipping fees cannot be refunded.
            </p>
      </div>
      <div class="card12">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">How soon can you expect your ordered products to arrive? </h2>
        <p>Our aim is to ensure swift and secure delivery to you. Typically, it takes 2-5 working days from the confirmation of your order to deliver the products within TG & AP. This timeline is subject to the absence of delays caused by governmental authorities or entities acting on behalf of the government. In instances where delivery might extend beyond the expected period due to unforeseen circumstances, the Direct Seller is promptly informed. At this point, the Direct Seller has the option to proceed with the delivery or choose to cancel the order. In the latter case, the refund is processed directly to the Direct Seller's bank account using the same payment mode received, and the goods are returned to the company.
            Direct Sellers are strongly advised to inspect the packaging upon delivery. If the package appears tampered with or damaged, it is recommended to refuse delivery and promptly contact their respective Olsi Branch office or send an email to info@olsi.in, mentioning the order reference number. Our commitment is to make every effort to ensure a replacement delivery is dispatched to the Direct Seller at the earliest convenience.
            </p>
      </div>
      
    </div>
</div>


{% endblock %}