{% extends "base.html" %}
{% load static %}
{% block title %}
DRY NUTS | Privacy Policy
{% endblock  %}
{% block content %}

<div class="text-center display-4 mt-5">
    <h2 class="text-gradient-warning text-primary">OUR PRIVACY AND SECURITY POLICY</h2>
</div>

<div class="wrapper" style="margin: 50px;">
    
    <div class="content-box container" style="border: 1px solid gray; border-width: thin; padding: 20px; border-radius: 20px;">
      <div class="card12">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Privacy & Security Policy</h2>
        <p>Thank you for exploring www.olsi.in. As utilized in this privacy statement, the terms "our," "we," and "us" refer to both Olsi and the direct seller unless the context indicates otherwise. This privacy policy outlines how Olsi Marketing Pvt. Ltd. utilizes and safeguards the information you provide when using this website. We are committed to ensuring the protection of your privacy. When requested to provide certain information that can identify you while using this website, rest assured that it will only be used in accordance with this privacy statement.</p>
      </div>
      <div class="card12">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">What Information We Collect and How We Use It</h2>
        <p>The information collected on our website falls under two general categories:</p>
      </div>
      <div class="card12">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Personally Identifiable Information</h2>
        <p>Distributors can upload their KYC documents in various formats through the Olsi Mobile Application.
            Visitors can browse the website without sharing Personally Identifiable Information. However, if you choose to register as a direct seller or place an order, you may voluntarily provide your Personally Identifiable Information (name, address, email, or telephone number). This information is shared with a registered Olsi direct seller to assist with registration and order placement. We may also maintain a record of your contact information for better service.
            When placing an order, Personally Identifiable Information, including name, contact details, order information, and transaction details, is collected for order processing and delivery. Certain necessary order details may be shared with shipping partners to complete the delivery.
            Credit card information collected for online shopping is used solely for processing payments, securely transmitted to the bank. We store only the reference number and amount paid, provided by the bank. (Note: Online purchase facility is yet to start).
            Participation in surveys or promotions is voluntary, providing Personally Identifiable Information for improving products and services. This information may also be used for marketing and promotional material, with the option to adjust settings for communication preferences.</p>
      </div>
      <div class="card12">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Aggregate Information</h2>
        <p>This category includes information that does not distinguish you as an individual. It encompasses browser and operating system types, IP addresses, URLs of referring websites, and search terms. This information is aggregated by our web server to monitor and evaluate site performance, aiding in the improvement of website features and functions.</p>
      </div>
      <div class="card12">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Security</h2>
        <p>We are dedicated to securing your information. Appropriate physical, electronic, and managerial procedures are implemented to prevent unauthorized access or disclosure. Safeguarding your online account password is your responsibility. If you suspect a compromised password, contact Olsi Marketing Pvt. Ltd. promptly.</p>
      </div>
      <div class="card12" style="">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Use of Cookies</h2>
        <p>Cookies are used to enhance website functionality, providing a better user experience by personalizing features based on preferences. Cookies help analyze web traffic, and while most browsers automatically accept cookies, settings can be modified to decline them.</p>
      </div>
      <div class="card12" style="">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Use of Third-Party Media and Research Companies</h2>
        <p>Third-party media and research companies may place ads on our behalf on other websites. Our site may display third-party ads for specific Merchants and Service Partners with whom we collaborate.</p>
      </div>
      <div class="card12" style="">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Links to Other Websites</h2>
        <p>Our website may contain links to external sites. Once redirected, we are not responsible for the protection and privacy of information provided on those sites. Caution is advised, and the applicable privacy statement of the external website should be reviewed.</p>
      </div>
      <div class="card12" style="">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Children’s Privacy Protection</h2>
        <p>Our website is not intended for children under 18, and Personally Identifiable Information is not knowingly collected from them.</p>
      </div>
      <div class="card12" style="">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Changes To This Statement</h2>
        <p>Please check for updates or changes in this privacy policy before using our website. By using our site, you acknowledge acceptance of the Privacy Statement in effect at the time of use.</p>
      </div>
      <div class="card12" style="">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Controlling Your Personally Identifiable Information</h2>
        <p>Efforts are made to ensure the accuracy and completeness of Personally Identifiable Information collected on our site. You can control the collection or use of your information by:
            Indicating your preference not to use the information for direct marketing purposes when filling out website forms.
            Changing your mind about using your information for direct marketing purposes by contacting us at info@olsi.in.
            Rest assured that Personally Identifiable Information will not be sold, distributed, or leased to third parties without your permission or unless required by law.
            If you believe any information held about you is incorrect or incomplete, please promptly contact us at the provided address, and corrections will be made without delay.
            </p>
      </div>
      
    </div>
  </div>

{% endblock %}