{% extends "base.html" %}
{% load static %}
{% block title %}DRY NUTS | Privacy Policy{% endblock  %}
{% block content %}

<div class="text-center display-4 mt-5">
    <h2 class="text-gradient-warning">DISCLAIMER</h2>
</div>

<div class="wrapper" style="margin: 50px;">
    
    <div class="content-box container" style="border: 1px solid gray; border-width: thin; padding: 20px; border-radius: 20px;">
      <div class="card12">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Product Disclaimer</h2>
        <p>The information provided in our Health Guide regarding our products is not intended for the prevention, diagnosis, treatment, or cure of any disease. Rather, it serves as an introduction to the potential benefits of supplements in enhancing overall well-being. Our products are designed to support holistic balance in the body and boost immunity, but they should not be considered a substitute for professional medical advice or diagnosis from a qualified physician. We are neither medical professionals nor researchers, and we do not have the authority to prescribe treatments or offer medical advice.
            For any health concerns or questions about specific conditions, it is crucial to consult with your doctor. Our supplements are meant to be used as a complement to a healthy lifestyle and should not be used in excess, as this may lead to adverse effects.
            Olsi takes responsibility for the quality of products only when purchased from authorized direct sellers. Buyers should exercise caution and be solely responsible for any consequences resulting from the purchase and use of products obtained from unauthorized sources, including unauthorized websites, e-commerce marketplaces, or other unauthorized parties.
            </p>
      </div>
      <div class="card12">
        <h2 style="color: darkgreen; opacity: 1px; font-size: 25px;">Website Disclaimer</h2>
        <p>The information presented on this website is intended solely for informational purposes. Users are strongly advised to validate and confirm any information found on this site with reliable and authoritative sources before relying on it for any purpose. Olsi Marketing Pvt. Ltd. and the website developer are not responsible for any potential consequences that may result from utilizing such information without proper verification or confirmation.
            It's important to note that there may be a time gap between the posting or transmission of information online and its availability to users. For accurate and up-to-date information, users are encouraged to verify the exact status from the original source.
            For inquiries or suggestions related to this website, please reach out to info@olsi.in.
            No part of the content, including graphics, pictures, or presentations on this site, may be used without explicit written permission from the author. Unauthorized usage of any content or its portions, without verifiable and expressed permission from the author or their authorized representative, will be subject to legal consequences.
            </p>
      </div>
       
    </div>
  </div>

{% endblock %}